<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{update-new-password-page.label.title}"></title>

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css}" />
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="row justify-content-md-center mt-5">
        <div class="col col-lg-6 border p-5">
            <h3 th:text="#{update-new-password-page.label.update-new-password-form}"></h3>
            <div class="text-danger" th:text="${message}"></div>
            <form id="id_update_pass_form" action="#" th:action="${@environment.getProperty('form.update-new-password.action')}" th:object="${register}" method="post">
                <input type="hidden" name="i" th:value="${i}">
                <input type="hidden" name="c" th:value="${c}">
                <input type="hidden" name="htId" th:value="${htId}">
                <div id="id_message_password" class="text-danger d-none" th:text="#{registration-page.text.valid_password}"></div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" th:placeholder="#{update-new-password-page.label.enter-new-password}" id="id_new_pass" required maxlength="30">
                    <span id="eye_reset_pass" toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password"></span>
                </div>
                <div id="id_message_retype_password" class="text-danger d-none" th:text="#{update-new-password-page.text.valid_retype_password}"></div>
                <div class="form-group">
                    <input name="retype_password" type="password" class="form-control" th:placeholder="#{update-new-password-page.label.retype-new-password}" id="id_repass" required maxlength="30">
                    <span id="eye_reset_repass" toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password"></span>
                    <small class="form-text text-primary" th:text="#{registration-page.text.register.policy_password}"></small>
                </div>
                <button type="submit" class="btn btn-large btn-primary col-12" th:text="#{update-new-password-page.label.update-password}"></button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
